<h1>ユーザー登録</h1>

<%= form_with(model:@user, local:true) do |form| %> <!--％＝がいる-->
  <div class = "user_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class = "user_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class = "password">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <div class = "password_confirmation">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation %>
  </div>
    <%= form.submit "登録する" %>
<% end %>
